.loader
  z-index: 3
  margin: 0 auto
  left: 0
  right: 0
  top: 50%
  margin-top: -30px
  width: 60px
  padding: 0
  height: 60px
  list-style: none
  box-sizing: content-box

@-webkit-keyframes 'loadbars'
  0%
    height: 10px
    margin-top: 25px

  50%
    height: 50px
    margin-top: 0px

  100%
    height: 10px
    margin-top: 25px


.loader li
  background-color: $main-color
  width: 10px
  height: 10px
  float: right
  margin-right: 5px
  box-shadow: 0px 80px 20px rgba(0, 0, 0, 0.3)
  &:first-child
    -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s
  &:nth-child(2)
    -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s
  &:nth-child(3)
    -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s
  
.leftbar
    position: relative
    background-color: $leftbar-color
    width: 12%
    height: 100%
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: 30px 20px

.leftbar__user
  position: absolute
  bottom: 20px
  white-space: nowrap
  h3
    margin: 0
    color: black


.leftbar__name
  font-weight: 800

.leftbar__logo
  width: 25%
  min-width: 40px

.leftbar__heading
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.leftbar__bottom
  display: flex
  align-items: center
  margin-bottom: 5px
  svg
    width: 10%
    margin-bottom: -6px
    cursor: pointer
    margin-left: 20px
  
.panel
    background-color: $panel-color
    width: 88%
    height: 100%
    padding: 10px 20px
    transition: all .5s

.panel__top
  display: flex
  flex-direction: column
  width: 70%

.panel__title
  display: flex
  align-items: center  
  justify-content: space-between
  width: 100%
  padding-right: 200px
  .panel__popular
    width: 1.8%
    min-width: 20px
    margin-right: 20px
    fill: $main-color
    margin-bottom: -8px


.stockChart
    background-color: white
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07)
    width: 45%
    border-radius: 20px
    flex-direction: row
    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin-right: 50px
    margin-bottom: 50px
    min-width: 300px
    height: 270px
  
.panel__portfolio-section
  width: 30%
  min-width: 370px
  .panel__portfolio
    border-radius: 20px
    width: 100%
    min-width: 400px
    background-color: white
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07)
    height: 270px
    margin-bottom: 50px
    position: relative
    padding: 10px 20px
    .panel__portfolio-list
      width: 100%
      padding: 0
      margin: 0
      li
        display: flex
        justify-content: space-between
        margin: 0
        height: 40px

  .panel__portfolio-title
    width: 5.5%
    margin-bottom: -6px
    fill: $main-color
    margin-right: 20px
    min-width: 20px
  .panel__value
    display: flex
    justify-content: space-between
    align-items: center
    position: absolute
    bottom: 10px
    width: 100%
    padding-right: 40px
    &:before
      position: absolute
      content: ''
      width: 91%
      height: 2px
      bottom: 50px
      border-bottom: 1px solid black

.stockChart__chart
    width: 100%
    height: 40%
    position: absolute
    top: 40px

.stockChart__info
  position: absolute
  bottom: 0
  display: flex
  justify-content: space-between
  width: 100%
  padding: 30px
  align-items: center

  h4
    margin: 5px 0

  .stockChart__price
  font-weight: 400

.stockChart__name
  margin: 0
  background: linear-gradient(to right, rgb(124, 131, 255) 30%, rgb(124, 193, 255) 100%);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2)
  width: 80px
  height: 60px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 20px
  color: white

.stockChart__price
  margin: 0

.stockChart__price-info
  display: flex
  align-items: flex-end
  flex-direction: column

.stockChart__change
  font-weight: 400

.leftbar__menu, .panel__list
  list-style-type: none
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 0
  font-weight: 800
  svg
    width: 8%
    min-width: 18px
    margin-right: 20px
    margin-bottom: -7px
  li
    fill: $inactive-color
    display: flex
    white-space: nowrap
    justify-content: flex-start
    align-items: center
    cursor: pointer
    height: 30%
    color: $inactive-color
    transition: all .5s
    &:hover
      color: $text-color
      fill: $main-color!important

.panel__bottom
  display: flex
  justify-content: space-between
  
.panel__stockList
  width: 30%
  margin-right: 20px
  min-width: 300px

.panel__list
  width: 100%
  li
    display: flex
    justify-content: space-between
    width: 100%
    margin: 8px
    padding: 2px 12px
    background-color: white
    border-radius: 20px
    color: $text-color
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08)
    &:hover
      box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.26)
    span
      display: flex
      align-items: center
      img
        margin-right: 10px
        width: 15%
        height: 15%

        
@media (max-width: 1500px)
  li svg
    min-width: 10%
    min-width: 20px

@media (max-width: 1380px)
  .Dashboard
    flex-direction: column
  .leftbar
    width: 100%
    padding: 5px 10px
    min-height: 10%
    flex-direction: row
    justify-content: space-between
    min-height: 70px
    max-height: 80px
    ul
      width: 30%
      margin: 0
      height: 100%
    .leftbar__heading
      flex-direction: row
      height: 100%
      width: 30%
      img
        width: 5%
        margin-right: 20px
    .leftbar__user
      width: 20%
      position: static
  .panel
    width: 100%
    padding: 0 20px
  .leftbar__menu
    flex-direction: row

@media (max-width: 1460px)
  .panel__container
    justify-content: center
  .stockChart
    width: 50%
  .panel__top
    width: 100%
  .panel__portfolio-section
    width: 60%
    svg
      width: 10%

@media (max-height: 880px)
  .panel__list
    li
      padding: 0px 10px
  .panel__bottom
    margin-top: -60px
    h3
      margin-bottom: 10px
