.stock
    width: 100%
    height: 100%
.stock__chart
    margin-top: 50px
    width: 60%
    height: 60%
    padding: 20px
    border-radius: 20px
canvas
    color: white


@media (max-width: 1380px)
    .stock
        flex-direction: column