input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0

input[type=number] 
    -moz-appearance: textfield
@keyframes show-popup
  0%
    -webkit-transform: translate(-50%, -50%) scale(0.7)
    transform: translate(-50%, -50%) scale(0.7)
    opacity: 0

  45%
    -webkit-transform: translate(-50%, -50%) scale(1.05)
    transform: translate(-50%, -50%) scale(1.05)
    opacity: 1

  80%
    -webkit-transform: translate(-50%, -50%) scale(0.95)
    transform: translate(-50%, -50%) scale(0.95)

  100%
    -webkit-transform: translate(-50%, -50%) scale(1)
    transform: translate(-50%, -50%) scale(1)

.stock
    width: 100%
    height: 100%
    overflow: hidden
.stockPage
    width: 97%
    padding: 50px
    display: flex
    flex-direction: column 
    .loader
        margin: 100px auto
.stockPage__top
    display: flex
    width: 100%
    height: 50%
    .stock__chart
        width: 80%
        height: 80%
        padding: 10px
        position: relative
        .stock__info
            width: 100%
        .stockPage__timers
            position: absolute
            top: -20px
            right: 20px
            color: white
            transition: all .5s
            cursor: pointer
            display: flex
            h6
                padding: 5px 10px
                border-radius: 10px
                background-color: $elements-color
                margin: 0 3px
                transition: all .5s
                &:hover
                    background-color: $inactive-color
            .active
                background-color: $inactive-color
    
.stockPage__trade
    width: 20%
    height: 100%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    border-radius: 8px
    flex-direction: column
    min-width: 300px
    h5
        color: white
        font-weight: 400
    h2
        font-weight: 400
    h4
        color: $inactive-color
        margin: 0
    h6
        margin-top: -20px
        margin: 0
        color: $inactive-color
    .stockPage__trade-top
        width: 100%
        display: flex
        align-items: center
        margin-top: 20px
        h2
            margin: 0
            margin-bottom: 10px  
        h6
            margin-left: 10px
        h5
    .stockPage__buy-input
        background-color: $elements-color
        color: white
        padding: 10px
        font-weight: bold
        border-radius: 5px
        margin-right: 10px
        transition: all .5s 
        letter-spacing: 1px
        &:hover,&:focus
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2)
.stockPage__buy-button
    padding: 10px
    background: linear-gradient(to right, rgb(124, 131, 255) 30%, rgb(124, 193, 255) 100%);
    color: white
    font-weight: bold
    transition: all .5s
    border-radius: 5px
    &:hover
        box-shadow: 0px 0px 10px 0px $main-color
    &:nth-child(1)
        margin-right: 20px
.cancel
    background: $elements-color
    &:hover
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,.3)


.stockPage__keyStats
    width: 100%
    height: 50%
    display: flex
    .stockPage__headings
        display: flex
        justify-content: space-between
        h3:nth-child(2)
            margin-right: 200px
    .data
        width: 50%
        height: 100%
        display: flex
        flex-direction: column
        .stockPage__columns
            display: flex
            flex-wrap: wrap
        .data__label
            font-weight: 400
        .data__info
            width: 33%
        h4
            margin: 25px 0
            color: $inactive-color
    h3
        color: $inactive-color
        display: flex
        align-items: center
        width: 100%
        svg
            width: 30px
            margin-right: 10px
            fill: $main-color

.wrongSymbol
    width: 100%
    height: 100%
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    overflow: hidden
    h1
        color: $inactive-color
        text-transform: uppercase
        letter-spacing: 5px
        margin-bottom: 100px
    .topbar__searchbar
        width: 33%
        margin: 0
    a
        color: $main-color
    h3
        margin: 0

.buyConfirmation
    width: 50%
    height: 30%
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: $panel-color
    animation: show-popup .3s

.black-bg
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0,0,0,.3)
    z-index: 100
    
@media (max-width: 1380px)
    .stock
        flex-direction: column
